<%= form_for(rental) do |f| %>
  <% if rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.date_select :start_time, default: (@date.nil? ? Date.today : Date.parse(@date)) %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.date_select :end_time, default: (@date.nil? ? Date.today : Date.parse(@date)) %>
  </div>

  <div class="field">
    <%= f.label :game_id %>
    <%= f.select :game_id, Game.all.pluck(:title, :id), :selected => Game.find(@game_id).id %>

  </div>

  <div class="field">
    <%= f.label :is_optional %>
    <%= f.check_box :is_optional %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
