<div style="float:left">
  <h1>Rentals</h1>
</div>

<div style="float: left; margin-top: 26px; margin-left: 26px">
  <%= link_to 'Rent a game', new_rental_path, :class => "btn btn-default" %>
</div>

<table  class="table table-striped table-bordered table-hover">
  <tbody>
    <tr>
      <th>Date</th>
      <th>Game title</th>
      <th>Borrower</th>
      <th>Status</th>
      <% if user_signed_in? %>
      <th></th>
      <% end %>
    </tr>

    <% @rentals.each do |rental| %>
      <% @class = rental.is_optional? ? (rental.is_vetoed.nil? ? "warning" : "danger") : "success"%>
      <tr>
        <td><strong><%= link_to rental.start_time, rental %></strong></td>
        <td><%= link_to rental.game.rating, rental.game.link, :class => "btn btn-info btn-xs", :style => "margin-right: 10px; margin-bottom: 3px" %><strong><%= link_to rental.game.title, rental.game %></strong></td>
        <td><%= rental.user.name %> (<%= rental.user.email %>)</td> 
        <td class=<%= @class %>><%= rental.is_optional? ? (rental.is_vetoed.nil? ? 'Optional' : "Vetoed by #{User.find(rental.is_vetoed).email}") : 'Guaranteed' %></td>
        <% if user_signed_in? %>
          <td>
            <% if rental.user == current_user %>
              <%= link_to 'Edit', edit_rental_path(rental), :class => "btn btn-default btn-xs" %>
              <%= link_to 'Delete', rental, :class => "btn btn-primary btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
