<h1>My Rentals</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Date</th>
      <th>Game</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <% @class = rental.is_optional? ? (rental.is_vetoed.nil? ? "warning" : "danger") : "success"%>
      <tr>
        <td><%= rental.start_time %></td>
        <td><%= rental.game.title %></td>
        <td class=<%= @class %>><%= rental.is_optional? ? (rental.is_vetoed.nil? ? 'Optional' : "Vetoed by #{User.find(rental.is_vetoed).email}") : 'Guaranteed' %></td>
        <td><%= link_to 'Show', rental, :class => "btn" %></td>
        <td><%= link_to 'Edit', edit_rental_path(rental), :class => "btn" %></td>
        <td><%= link_to 'Delete', rental, :class => "btn", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rental', new_rental_path, :class => "btn" %>