
<h1>Rental</h1>

<div class="bs-component">
  <table  class="table table-striped table-bordered table-hover">
    <tbody>
      <tr>
        <th>Date</th>
        <th>Game</th>
        <th>Borrower</th>
        <th>Status</th>
        <% if @rental.user == current_user %>
          <th></th>
        <% end %>
      </tr>

        <% @class = @rental.is_optional? ? (@rental.is_vetoed.nil? ? "warning" : "danger") : "success"%>
        <tr>
          <td><%= @rental.start_time %></td>
          <td><%= link_to @rental.game.rating, @rental.game.link, :class => "btn btn-info btn-xs", :style => "margin-right: 10px; margin-bottom: 3px" %><strong><%= link_to @rental.game.title, @rental.game %></strong></td>
          <td><%= @rental.user.name %> (<%= @rental.user.email %>)</td> 
          <td class=<%= @class %>><%= @rental.is_optional? ? (@rental.is_vetoed.nil? ? 'Optional' : 'Vetoed') : 'Guaranteed' %></td>
          <% if @rental.user == current_user %>
            <td>
              <%= link_to 'Delete', @rental, :class => "btn btn-primary btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
           </td>
          <% end %>
        </tr>
    </tbody>
  </table>
</div>
<%= link_to 'Rent this game', game_path(@rental.game_id), :class => "btn btn-default" %>
<br>