<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rental.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @rental.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @rental.end_time %>
</p>

<p>
  <strong>Game:</strong>
  <%= @rental.game %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
