<p>
  <strong>Name:</strong>
  <%= @rental.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @rental.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @rental.end_time %>
</p>

<p>
  <strong>Game:</strong>
  <%= @rental.game_id %>
</p>
<% if user_signed_in? && @rental.user == current_user %>
	<%= link_to 'Edit', edit_rental_path(@rental) %> |
<% end %>
<%= link_to 'Back', game_path(@rental.game_id) %>
