
<h1>Rental</h1>

<div class="bs-component">
  <table  class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Game</th>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
        <% @class = @rental.is_optional? ? (@rental.is_vetoed.nil? ? "warning" : "danger") : "success"%>
        <tr class=<%= @class %>>
          <td><%= @rental.start_time %></td>
          <td><%= @rental.game.title %></td>
          <td><%= @rental.user.name %></td> 
          <td><%= @rental.user.email %></td>
          <td><%= @rental.is_optional? ? (@rental.is_vetoed.nil? ? 'Optional' : 'Vetoed') : 'Guaranteed' %></td>
          <td><%= link_to 'Edit', edit_rental_path(@rental), :class => "btn btn-default btn-xs" %>
          <%= link_to 'Delete', @rental, :class => "btn btn-primary btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    </tbody>
  </table>
</div>
<%= link_to 'Rent this game', game_path(@rental.game_id), :class => "btn btn-default" %>
<br>