<%= form_for @game do |f| %>
  
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@game.errors.count, "error") %> prohibited
        this game from being saved:
      </h2>
      <ul>
        <% @game.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :complexity %><br>
    <%= f.number_field :complexity, :step => "0.01" %>
  </p>

  <p>
    <%= f.label :rating %><br>
    <%= f.number_field :rating, :step => "0.1" %>
  </p>

  <p>
    <%= f.label :minimum_number_of_players %><br>
    <%= f.text_field :min_players %>
  </p>
  <p>
    <%= f.label :maximum_number_of_players %><br>
    <%= f.text_field :max_players %>
  </p>

  <p>
    <%= f.label :playing_time %><br>
    <%= f.number_field :playing_time %>
  </p>

  <p>
    <%= f.label :location %><br>
    <%= f.select :location, ['UP', 'DOWN'] %>
  </p>

  <p>
    <%= f.label :minimum_players_age %><br>
    <%= f.text_field :min_player_age %>
  </p>

  <p>
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </p>

  <div class="field">
    <%= f.label :expansion_for %>
    <%= f.select :expansion_for, Game.all.pluck(:title, :id) << [nil] %>
  </div>

  <p>
    <%= f.submit %>
  </p>
</div>
<% end %>
