<h1>Listing games</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Link</th>
    <th><%= link_to 'New game', new_game_path %></th>
  </tr>
 
  <% @games.each do |game| %>
    <tr>
      <td><%= game.title %></td>
      <td><%= game.link %></td>
      <td><%= link_to 'Show', game_path(game) %></td>
      <td><%= link_to 'Edit', edit_game_path(game) %></td>
      <td><%= link_to 'Destroy', game_path(game),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
