<div style="float:left">
  <h1>Games list</h1>
</div>

<% if user_signed_in? && current_user.is_admin == 1 %>
  <div style="float: left; margin-top: 26px; margin-left: 26px">
  <%= link_to 'New game', new_game_path, :class => "btn btn-primary" %>
  </div>
<% end %>


<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Game title (with BGG rating)</th>
    <th># of Players</th>
    <th>Playing time</th>
    <th>Complexity</th>
  </tr>
 
  <% @games.each do |game| %>
    <tr>
      <td><%= link_to game.rating, game.link, :class => "btn btn-info btn-xs", :style => "margin-right: 10px; margin-bottom: 3px" %><strong><%= link_to game.title, game_path(game) %></strong></td>
      <td>
        <% if game.min_players != game.max_players %>
          <%= game.min_players %> - <%= game.max_players %>
        <% else %>
          <%= game.max_players %>
        <% end %>
      </td>
      <td><%= game.playing_time %> min</td>
      <td><div class="progress" style="margin-bottom: 0; max-width:150px">
          <div class="progress-bar" style="width: <%= game.complexity*100/5.0 %>%;"><%= game.complexity %></div>
        </div>

      </td>
    </tr>
  <% end %>
</table>

