<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-2"><h3><%= link_to @game.title, @game.link %></h3></div>
  <div class="col-sm-2"><h3>Rating: <%= @game.rating %></h3></div>
</div>

<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-2">
      <% if @game.min_players != @game.max_players %>
        <h3> <%= @game.min_players %>-<%= @game.max_players %> players </h3>
      <% else %>
        <h3> <%= @game.max_players %> players </h3>
      <% end %>
  </div>
  <div class="col-sm-2"><h3> <%= @game.playing_time %> min </h3></div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-2"><h3> Location: <%= @game.location %> </h3></div>
  <div class="col-sm-2"><h3> Complexity: <%= @game.complexity %> </h3></div>
</div>

  <div class="simple-calendar">
    <%= month_calendar events: @rentals do |date, rentals| %>
      <% game_rentals = {}
         rentals.each do |rental|
           game_rentals[rental.game_id] = rental if rental.is_vetoed.nil?
         end %>
      <% game_rental = game_rentals[@game.id] %>

      <% if !game_rental.nil? %>
        <% if game_rental.is_optional? %>
          <% cl = "danger" %>
        <% else %>
          <% cl = "default disabled" %>
        <% end %>
      <% else %>
        <% cl = "primary" %>
      <% end %>

      <div><%= link_to date, new_rental_path(date: date, game_id: @game.id), :class => "btn btn-#{cl}" %></div>

      <% if !game_rental.nil? %>
          <div><%= link_to game_rental.user.email, game_rental, :class => "" %></div>
      <% end %>

    <% end %>
  </div>
<h4>
<% if user_signed_in? && current_user.is_admin? %>
  <td><%= link_to 'Edit game', edit_game_path(@game), :class => "btn btn-default" %></td>
  <td><%= link_to 'Delete game', game_path(@game), :class => "btn btn-primary",
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
<% end %>
<div><%= link_to 'Back to games list', games_path, :class => "btn btn-default" %></div>
</h4>

</div>
