<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>
 
<p>
  <strong>Link:</strong>
  <%= @game.link %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> 
<%= link_to 'Back', games_path %>



<div class="simple-calendar">
  <%= month_calendar do |date| %>
    <%= date %>
  <% end %>
</div>
